.friend-inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.friends-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  align-items: center;
}

.friend-item{
  display: flex;
  align-items: center;
  gap: 8px;
}
